option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DD_AGENT_MAJOR_VERSION
    value: "7"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DD_AGENT_MINOR_VERSION
    value: "" # Leave empty for the latest version of 7.x
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DD_APM_ENABLED
    value: "true" # Enable APM tracing
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DD_LOGS_ENABLED
    value: "true" # Enable logs if needed

files:
  "/etc/datadog-agent/datadog.yaml":
    mode: "000640"
    owner: root # will be changed to dd-agent after the installation
    group: root
    content: |
      # Add here the Agent configuration
      api_key: "{{resolve:ssm:/datadog/api_key}}"
      site: datadoghq.com
      apm_config:
        enabled: true # Enable APM tracing
      logs_config:
        logs_enabled: true # Enable logs (optional)

  "/datadog_install_script.sh":
    mode: "000700"
    owner: root
    group: root
    source: https://install.datadoghq.com/scripts/install_script_agent7.sh

commands:
  01_install_datadog_agent:
    command: "bash /datadog_install_script.sh"

container_commands:
  01_start_datadog_agent:
    command: "sudo systemctl start datadog-agent"
