option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DD_AGENT_MAJOR_VERSION
    value: "7"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DD_AGENT_MINOR_VERSION
    value: "" # Leave empty for the latest version of 7.x
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DD_APM_ENABLED
    value: "true" # Enable APM tracing
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DD_APM_INSTRUMENTATION_ENABLED
    value: "host" # Enable APM tracing
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DD_APM_INSTRUMENTATION_LIBRARIES
    value: "python:3" # Enable APM tracing
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DD_LOGS_ENABLED
    value: "true" # Enable logs if needed

files:
  "/etc/datadog-agent/datadog.yaml":
    mode: "000640"
    owner: root
    group: root
    content: |
      api_key: "79a0a1afa1645d7909c42a8e5adc15fa"
      # api_key: "{{resolve:ssm:/datadog/api_key}}"
      site: datadoghq.com
      apm_config:
        enabled: true # Enable APM tracing
        instrumentation_enabled: enabled
      process_config:
        process_collection:
          enabled: true
      logs_enabled: true
      logs_config:
        force_use_http: true

  "/datadog_install_script.sh":
    mode: "000700"
    owner: root
    group: root
    source: https://install.datadoghq.com/scripts/install_script_agent7.sh

container_commands:
  01_start_datadog_agent:
    command: "sudo systemctl start datadog-agent"

commands:
  01_install_datadog_agent:
    command: "bash /datadog_install_script.sh"