option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DD_AGENT_MAJOR_VERSION
    value: "7"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DD_AGENT_MINOR_VERSION
    value: "" # Leave empty for the latest version of 7.x

files:
  "/etc/datadog-agent/datadog.yaml":
    mode: "000640"
    owner: root # will be changed to dd-agent after the installation
    group: root
    content: |
      # Add here the Agent configuration
      api_key: "79a0a1afa1645d7909c42a8e5adc15fa"
      site: datadoghq.com
      apm_config:
        enabled: "true"
      logs:
        enabled: "true"
      traces:
        enabled: "true"
      process_config:
        enabled: "true"

  "/datadog_install_script.sh":
    mode: "000700"
    owner: root
    group: root
    source: https://install.datadoghq.com/scripts/install_script_agent7.sh

container_commands:
  01_install_datadog_agent:
    command: "DD_API_KEY=79a0a1afa1645d7909c42a8e5adc15fa DD_ENV=dev DD_APM_INSTRUMENTATION_ENABLED=host DD_APM_INSTRUMENTATION_LIBRARIES='java:1,python:2,js:5,dotnet:3' /datadog_install_script.sh; sed -i 's/ install_script/ ebs_install_script/' /etc/datadog-agent/install_info"
