# Terraform directories and files
.terraform/
*.tfstate
*.tfstate.backup
.DS_Store
.idea
../.idea/vcs.xml
.terraform.lock.hcl

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
TicketsProject.zip
